.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.none {
  background-color: #202020;
}

.minus-thirty {
  background-color: #ef85ff;
}

.minus-twenty {
  background-color: #b97cff;
}

.minus-ten {
  background-color: #72a1ff;
}

.zero {
  background-color: #647caa;
}

.ten {
  background-color: #aaff7c;
}

.twenty {
  background-color: #b2a954;
}

.thirty {
  background-color: #ffbe7c;
}

.forty {
  background-color: #ff7e7e;
}

button {
  width: 45px;
  height: 25px;
  margin: 10px;
}